*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.nav{
    background-color: black;
    color: azure;
    width: 100%;
    height: 70px;
}
.nav h2 {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}
.nav ul li {
    cursor: pointer;;
    display: inline-block;
    padding: 15px;
    margin-right: 8px;
}
.nav ul li:hover{
    transform: scale(1.6);
}
.nav ul{
    float:right;
    margin-top: 5px;
    display: inline-block;
}
.b{
    background-color:lightgrey;

}
.b img{
    width:100%;
    height: 350px;
}
.c{
    background-color: lightgrey;

}
.c ul li {
    display: inline-block;
    text-align: center;

    
}
.c ul li a img{
    width: 90px;
    height: 90px;
    border: 3px double black;
    margin: 19px;
    padding: 2px;
}
.c  img:hover {
    transform: scale(1.7);
}
.d{
    background-color: lightgrey;

}
.d h2{
    /* margin-top: 5px; */
    border:5px solid lightgrey;
}
.d ul  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}
.d ul{
    /* border: 2px solid rgb(0,0,0); */
    list-style-type: none;
    text-align: center;
    
}
.d ul li a img{
    border: 2px solid rgb(0,0,0);
    width: 200px;
    height: 200px;
    margin: 29px;
}
.d ul li a{
    text-decoration: none;
}
.d img:hover{
    transform: scale(1.5);
}
.e{
    background-color: lightgrey;
}
.e img{
    width: 100%;
    height: 500px;
    border:5px solid lightgrey;

}
.f{
    background-color: lightgrey;
}
.f {
    width: 100%;
    
     display: flex;
     flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.f img{
    cursor: pointer;
    width: 245px;
    height: 300px;
    border: 8px solid lightgrey;
}
.f img:hover{
    transform: scale(1.15);
}
footer {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
footer ul{
    list-style-type: none;
}
footer li  {
    padding: 4px;
}
.g{
    width: 100%;
    height: 140px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
}
.h{
    margin-left:60px ;

}
.i{
    margin-left: 205px;
}
.j{
    width: 100%;
    height: 60px;
    background-color:midnightblue ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p{
    height: 58px;
    background-color: black;
    border-radius: 10%;
}

.o{
    background-color: black;
    border-radius: 10;
}

